body {
    font-family: 'Droid Serif', georgia, serif;
}
p {
    font-family: 'Droid Serif', georgia, serif;
}
.red {
    color: #F00;
}
.green {
    color: #0F0;
}
.footer{
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:10px;
}
